<button (click)="openDetails('item-1')">Via Router: /list/(details:item-1)</button>
<button (click)="openDetails('item-2')">Via Router: /list/(details:item-2)</button>
<button (click)="openDetails(null)">Via Router: /list/(details:null)</button>
<a [routerLink]="[{outlets: {details: ['item-1']}}]">Via RouterLink: /list/(details:item-1)</a>
<a [routerLink]="[{outlets: {details: ['item-2']}}]">Via RouterLink: /list/(details:item-2)</a>
<a [routerLink]="[{outlets: {details: null}}]">Via RouterLink: /list/(details:null)</a>
